<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086600785764-s5o988d0l6flu7shuspi8h8o3oc5p7o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086600785764-s5o988d0l6flu7shuspi8h8o3oc5p7o3</string>
	<key>API_KEY</key>
	<string>AIzaSyCTAfc-SLZrg4kztlV-8KOQItFo843Y9ao</string>
	<key>GCM_SENDER_ID</key>
	<string>1086600785764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zeroHunger</string>
	<key>PROJECT_ID</key>
	<string>shationzero</string>
	<key>STORAGE_BUCKET</key>
	<string>shationzero.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086600785764:ios:4f064482edf80ddbbe9471</string>
</dict>
</plist>